---
import BaseLayout from "@/layouts/BaseLayout.astro";

---
<BaseLayout title="Contáctanos">
  <section>
    <p class="text-base font-medium font-display text-base-900">
      En Discusiones Bíblicas sabemos que la duda y la controversia no son bienvenidas en comunidades religiosas. Por eso valoramos la apertura a diferentes perspectivas y la capacidad de aprender de las discusiones.      
    </p>
    <p class="text-base font-medium font-display text-base-900">
      Si tienes alguna duda o comentario, no dudes en contactarnos. Estamos aquí para ayudarte en tu viaje de descubrimiento bíblico.
    </p>
    <p class="text-base font-medium font-display text-base-900">
      Para preguntas anónimas, puedes enviarnos mensaje directo a través de cualquiera de nuestras redes sociales.
    </p>
    <p class="text-base font-medium font-display text-base-900">
      No dudes en compartir tus dudas y comentarios en la sección de comentarios en nuestros episodios.
    </p>
    <p class="text-base font-medium font-display text-base-900">
      Cada cierto tiempo hacemos episodios en vivo en <a href="https://www.facebook.com/">Facebook</a> en donde puedes comentar en directo o enviar tus preguntas anónimas.
    </p>
  </section>
</BaseLayout>