---
import BaseLayout from "@/layouts/BaseLayout.astro";

---
<BaseLayout>
  <section>
    <div class="py-24">
      <h1
        class="text-4xl text-balance font-medium font-display text-base-900 max-w-xl"
      >
        ¿Quiénes somos?
      </h1>
    </div>
  </section>
</BaseLayout>