---
import Social from "../Social.astro";
---

<footer>
  <div class="flex flex-col items-center py-12">
    <Social className="text-xs text-base-500 text-center mb-4" />
    <p class="text-xs text-base-500 text-balance text-center mb-4">
      <a href="/quienes-somos">👋 ¿Quiénes somos?</a> •{" "}
      <a href="/contactanos">💬 Contáctanos</a>
    </p>

    <p
      class="text-xs text-base-500 text-balance text-center"
      x-data="{ year: new Date().getFullYear() }"
    >
      © <span x-text="year"></span> Discusiones Alrededor de la Biblia. Todos los derechos reservados.
    </p>
  </div>
</footer>
